/* pagination style */
.paginationBttns {
    width: 100%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  .paginationBttns li:hover{
    color: white;
  }
  .paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    font-weight: 600;
    border: 1px solid #2b2eff;
    color: #2b2eff;
    cursor: pointer;
  }
  
  .paginationBttns a:hover {
    color: white;
    background-color: #2b2eff;
  }
  
  .paginationActive a {
    color: white;
    background-color: #2b2eff;
  }
  
  .paginationDisabled a {
    color: rgb(77, 22, 22);
    background-color: grey;
  }