.pagination {
    display: flex;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
    width: 20%;
    align-items: center;
    margin: 0 auto;
}

.pagination a {
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid #dc2626;
    color: #dc2626;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem !important;
}

.pagination__link {
    font-weight: bold;
}

.pagination__link--active a {
    color: #fff;
    background: #dc2626;
}

.pagination__link--disabled a {
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
}
